ion-textarea {
  --highlight-color-focused: var(--ion-color-primary);
  --highlight-color-valid: var(--ion-color-primary);
  --highlight-color-invalid: var(--ion-color-primary);
  --border-color: var(--ion-color-primary);
  margin-top: .5rem;
}
